*{
    box-sizing: border-box;
}
.main-header{
    text-align: center;
    padding: 1em 0;
}   
.main-nav {
    list-style-type: none;
    text-decoration: none;
    padding: 1em;
    margin-top: 1em;
    text-transform: uppercase;
}

.main-nav a {
    font-weight: 800;
    text-align: center;
    display: block;
    background-color: white;
    font-size: 1.125em;
    padding: 1em;
    border-spacing: 1em;
}
.main-nav a:hover {
    color: blueviolet;

}
.container{
    background-color: lightgray;
}
 
.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 1em;
    text-align: center;
}
#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 0;
}
h3 {

    padding-top: 1rem;
}
img {
    width: 100%;
}
#intro {
    background-color: pink;

}
.wrap{
    background-color: lightgray;
}

section {
    padding: 3rem 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 2rem;
    background-color:rgb(218, 218, 218)y;
}

.main-footer {
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 1em 0;
}
/* MEDIA QUERIES*/
@media (min-width: 320px) {

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
      .container {
        text-align: center;
        width: 95%;
        margin: 0 auto;
        max-width: 1000px;
    }

}
@media (min-width: 760px) {
    .wrap {
        min-height: 100vh - 89px;
    }
    
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
      .container {
        text-align: left;
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
    }

}