*{
    box-sizing: border-box;
}
section {
   padding: 1rem;
   margin: auto 0;

}
text {
    margin: 10px;
}
head {
    margin: 0;
}
#intro {
    background-color: #f5f5f5;

}
.main-header,
.main-nav {
    display: flex;
    flex-direction: column;
}
.main-nav {
    list-style-type: none;
    text-decoration: none;
    padding: 1em;
    margin: .2em;
    text-transform: uppercase;
}
.container {
   width: auto;
}
li {
 padding: 10px;
 margin: 5px;
 background-color: white;
}

a {
    text-decoration: none;
    color: rgb(40, 40, 40);
 }
.main-nav a {
    text-align: center;
    font-weight: 500;
    display: block;
    margin: auto 0;
    font-size: 1.125em;
    border-spacing: 20px;
    text-decoration: none;

}
ul{
    margin: 0 auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  h1 {
      margin: auto 0;
      padding: 0;
      text-decoration: none;
  }
body {
    text-align: center;
}

.main-nav a:hover {
    color: blueviolet;
}
.site-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    padding: 40px;
}
h3 {
    padding-top: 1rem;
}
p {
    margin: 20px;
     padding-bottom: 1rem;
}
.project {
    margin: auto;
}

img {
    margin: 0;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 2rem;
    background-color: rgb(255, 255, 255)y;
}
hr {
    width: 90%;
    color: red;
}
.contact{
    padding-bottom: 3rem;
}
.main-footer {
    background-color: rgb(245, 245, 245);
    text-align: center;

}
.align-left{
    float: left;
    margin: none;
    padding: none;
    font-weight: 600;
    font-size: medium;
}
.align-right{
    float: right;
    margin: none;
    padding: none;
    font-weight: 600;
    font-size: small;
    text-transform: uppercase;
}
#contact-2 {
    background-color: #f5f5f5;
    overflow: auto;

}



@media (min-width: 760px) {
    li{
        background-color: transparent !important;
    }

    .main-nav, main-nav a{
        justify-content: center;
        flex-direction: row;
        background-color: transparent;
    }
    .container{
        padding: auto;
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
    }
    .project-2{
        display: flex;

    }
    .img-cap{
        flex-direction: column;
        flex-wrap: wrap;
        float: left;
    }
}

@media (min-width: 1024px) {
    .main-header, .main-nav, .a main-nav{
        flex-direction: row;
        justify-content: space-between;
    }

}